<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <base href="Hospital" />
    <title>Hospital</title>
    <link rel="stylesheet" href="/css/paciente/estilos.css" />
    <link rel="stylesheet" href="/css/cuadro_flotante.css" />
    <link rel="stylesheet" href="/css/arreglarCuadroPrincipal.css">

  </head>

  <body>
    <%- include('../partials/header.ejs') %>

    <article>
      <section>
        <div id="informacion">
          <div>
            <img src="Imagenes/Informacion personal.png" />
          </div>

          <div>
            <p>Nombre: <%= user.nombre %></p>
            <p>Apellido: <%= user.apellido %></p>
            <p>Direccion: <%= user.direccion %></p>
            <p>Celular: <%= user.telefono %></p>
            <p>Especialidad: <%= user.especialidad %></p>
          </div>
        </div>
        <div id="publicidad">
          <p>Publicidad</p>
        </div>
      </section>
    </article>

    <%- include('../partials/aside_doctor.ejs') %>

    <script src="/javascript/cuadro_flotante.js"></script>
  </body>
</html>
