<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hospital</title>
    <link rel="stylesheet" href="/css/paciente/estilos.css" />
    <link rel="stylesheet" href="/css/cuadro_flotante.css" />
    <link rel="stylesheet" href="/css/paciente/cita_create.css" />
    <link rel="stylesheet" href="/css/cuadro_detalle.css" />
    <link rel="stylesheet" href="/css/arreglarCuadroPrincipal.css">

  </head>

  <body>
    <%- include('../../partials/header.ejs') %>

    <article id="articulo-2">
      <section class="principal">
        <!-- <h2 class="titulo_seccion">CREAR CITA MEDICA</h2> -->
        <form class="hoja_clinica cuadro_detalle no_cuadro_detalle">
          <div class="tabs">
            <h2>CREAR CITA MEDICA</h2>
          </div>
          <div class="contenedor">
            <div class="contenido contenido_actual">
              <p>Paciente :</p>
              <span><%=user.nombreCompleto%></span>
              <label for="areaMedica">Area medica : </label>
              <select class="cuadro_dato" name="areaMedica" id="areaMedica">
                <%for(let area of areas){%>
                  <%if(area.horarios.length>0){%>
                    <option value="<%=area._id%>"><%=area.nombre%></option>
                  <%}%>
                <%}%>
              </select>           
              <label for="fecha">Fecha : </label>
              <select class="cuadro_dato" name="fecha" id="fecha">
                <option value="">Fecha 1</option>
                <option value="">Fecha 2</option>
              </select>

              <label for="hora">Hora : </label>
              <select class="cuadro_dato" name="hora" id="hora">
                <option value="">Hora 1</option>
                <option value="">Hora 2</option>
              </select>
              <label for="doctor">Doctor :</label>
              <select name="doctor" class="cuadro_dato" id="doctor">
                <option value="">doctor 1</option>
                <option value="">doctor 2</option>
              </select>
              <label for="descripcion">Descripcion</label>
              <textarea
                class="cuadro_texto"
                name="descripcion"
                id="descripcion"
              ></textarea>
            </div>
            <div class="cuadro_boton_agregar">
                <button
                  type="submit"
                  class="boton_agregar"
                  >AGREGAR</button>
              </div>
          </div>
        </form>
      </section>
    </article>

    <%- include('../../partials/aside_paciente.ejs') %>

    <script src="/javascript/cuadro_flotante.js"></script>
    <script src="/javascript/cuadro_detalle.js"></script>
    <script>
      const comboArea = document.getElementById("areaMedica");
      const comboFecha = document.getElementById("fecha");
      const comboHora = document.getElementById("hora");
      const comboDoctor = document.getElementById("doctor");
      const form = document.querySelector("form");
     
      form.addEventListener("submit",enviarDatos);
      const areas = <%-JSON.stringify(areas)%>;
      const horarios = [];
      for(let area of areas){
        horarios.push(...area.horarios);
      }

      actualizarFechas(comboArea.value);
      actualizarHoras(comboFecha.value.split(" ")[0]);
      actualizarDoctores(comboFecha.value.split(" ")[0]);
      comboArea.addEventListener("change",(e)=>{
        actualizarFechas(comboArea.value);
        actualizarHoras(comboFecha.value.split(" ")[0]);
      actualizarDoctores(comboFecha.value.split(" ")[0]);
      })
      comboFecha.addEventListener("change",(e)=>{
        actualizarHoras(comboFecha.value.split(" ")[0]);
        actualizarDoctores(comboFecha.value.split(" ")[0]);
      })
      function actualizarFechas(idArea){
        let areaElegida = null;
        for(let area of areas){
            if(area._id === idArea){
                areaElegida = area;
                break;
            }
        }
        if(areaElegida!=null){
            comboFecha.innerHTML = "";
            for(let horario of areaElegida.horarios){

              comboFecha.innerHTML+=`<option value="${horario._id} ${horario.fecha}">${horario.fecha}</option>`;
            }
        }
      }
      function actualizarHoras(idHorario){
        let horarioElegido = null;
        for(let horario of horarios){
            if(horario._id === idHorario){
                horarioElegido = horario;
                break;
            }
        }
        if(horarioElegido!=null){
            comboHora.innerHTML = "";
            for(let hora of horarioElegido.horas){

              comboHora.innerHTML+=`<option value="${hora}">${hora}</option>`;
            }
        }
      }
      function actualizarDoctores(idHorario){
        let horarioElegido = null;
        for(let horario of horarios){
            if(horario._id === idHorario){
                horarioElegido = horario;
                break;
            }
        }
        if(horarioElegido!=null){
            comboDoctor.innerHTML=`<option value="${horarioElegido.idDoctor}">${horarioElegido.doctor.nombreCompleto}</option>`;
        }
      }

      async function enviarDatos(e){
        e.preventDefault();
        const idPaciente = "<%=user._id%>";
        const idAreaMedica = form.areaMedica.value;
        const fecha = form.fecha.value.split(" ")[1];
        const hora = form.hora.value;
        const idDoctor = form.doctor.value;
        const descripcion = form.descripcion.value;
        const datosCita = {idPaciente,idAreaMedica,fecha,hora,idDoctor,descripcion};
        const res = await fetch("/paciente/cita/create", {
        method: "POST",
        body: JSON.stringify(datosCita),
        headers: { "Content-Type": "application/json" },
      });
        location.assign("/paciente/cita");

      }
      //   const formHojaClinica = document.querySelector(".hoja_clinica");
      //   const formReceta = document.querySelector(".receta");

      //   async function enviarDatos(idDoctor, idPaciente, idHistoriaClinica) {
      //     const fecha = new Date().toISOString();
      //     const area = formHojaClinica.areaMedica.value;
      //     const triage = "Temperatura (°C) : "+formReceta.temperatura.value+"\n"+
      //                    "Peso (Kg) : "+formReceta.peso.value+"\n"+
      //                    "Talla (m) : "+formReceta.talla.value+"\n"+
      //                    "F. cardiaca (xmin) : "+formReceta.fc.value+"\n"+
      //                    "F. respiratoria (xmin) : "+formReceta.fr.value;
      //     const consulta = formHojaClinica.consulta.value;
      //     const descripcion = formReceta.descripcion.value;
      //     const medicamentos = formReceta.medicamentos.value;

      //     const res = await fetch("/doctor/historia/create", {
      //       method: "POST",
      //       body: JSON.stringify({
      //         idDoctor,
      //         idHistoriaClinica,
      //         fecha,
      //         area,
      //         triage,
      //         consulta,
      //         descripcion,
      //         medicamentos,
      //       }),
      //       headers: { "Content-Type": "application/json" },
      //     });

      //     const data = await res.json();
      //     console.log(data);
      //     location.assign("/doctor/historia/" + idPaciente);
      //   }
    </script>
  </body>
</html>
