<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hospital</title>
    <link rel="stylesheet" href="/css/doctor/historia_create.css" />

    <link rel="stylesheet" href="/css/paciente/estilos.css" />
    <link rel="stylesheet" href="/css/cuadro_flotante.css" />
    <link rel="stylesheet" href="/css/cuadro_detalle.css" />
    <link rel="stylesheet" href="/css/arreglarCuadroPrincipal.css">

  </head>

  <body>
    <%- include('../../partials/header.ejs') %>

    <article id="articulo-2">
      <section class="principal">
        <h2 class="titulo_seccion">CREAR HOJA CLINICA</h2>
        <form class="hoja_clinica cuadro_detalle no_cuadro_detalle">
          <div class="tabs">
            <h2>PRINCIPAL</h2>
          </div>
          <div class="contenedor">
            <div class="contenido contenido_actual">
              <p for="doctor">Doctor :</p>
              <span><%=user.nombre+" "+user.apellido%></span>
              <p>Paciente :</p>
              <span><%=paciente.nombre+" "+paciente.apellido%></span>
              <label for="areaMedica">Area medica : </label>
              <select class="cuadro_dato" name="areaMedica" id="areaMedica">
                <% for(let areaMedica of areasMedicas) {%>
                <option value="<%=areaMedica.nombre%>">
                  <%=areaMedica.nombre%>
                </option>
                <% } %>
              </select>
              <label for="consulta"> Consulta</label>
              <textarea
                class="cuadro_texto"
                name="consulta"
                id="consulta"
                cols="30"
                rows="10"
              ></textarea>
            </div>
          </div>
        </form>

        <form class="receta cuadro_detalle">
          <div class="tabs">
            <h2>RECETA</h2>
            <h2>TRIAGE</h2>
          </div>
          <div class="contenedor">
            <div class="contenido contenido_actual">
              <label for="medicamentos"> Medicamentos</label>
              <br />
              <textarea
                class="cuadro_texto"
                name="medicamentos"
                id="medicamentos"
                cols="30"
                rows="10"
                
              ></textarea>
              <label for="descripcion"> Descripcion</label>
              <textarea
                class="cuadro_texto"
                name="descripcion"
                id="descripcion"
                cols="30"
                rows="10"
              ></textarea>

              
            </div>
            <div class="contenido">
              <label for="temperatura">Temperatura (°C)</label>
              <input type="text" name="temperatura" id="temperatura">
              <label for="peso">Peso (Kg) </label>
              <input type="text" name="peso" id="peso">
              <label for="talla">Talla (m) </label>
              <input type="text" name="talla" id="talla">
              <label for="fc">Frecuencia cardiaca (xmin) </label>
              <input type="text" name="fc" id="fc">
              <label for="fr">Frecuencia respiratoria (xmin) </label>
              <input type="text" name="fr" id="fr">
            </div>
          </div>
        </form>
        <div class="cuadro_boton_agregar">
          <button
          
            onclick="enviarDatos('<%=user._id%>','<%=paciente._id%>','<%=paciente.idHistoriaClinica%>')"
            class="boton_agregar"
            >AGREGAR</button>
        </div>
      </section>
    </article>

    <%- include('../../partials/aside_doctor.ejs') %>

    <script src="/javascript/cuadro_flotante.js"></script>
    <script src="/javascript/cuadro_detalle.js"></script>
    <script>
      const formHojaClinica = document.querySelector(".hoja_clinica");
      const formReceta = document.querySelector(".receta");
  
      async function enviarDatos(idDoctor, idPaciente, idHistoriaClinica) {
        const fecha = new Date().toISOString();
        const area = formHojaClinica.areaMedica.value;
        const triage = "Temperatura (°C) : "+formReceta.temperatura.value+"\n"+
                       "Peso (Kg) : "+formReceta.peso.value+"\n"+
                       "Talla (m) : "+formReceta.talla.value+"\n"+
                       "F. cardiaca (xmin) : "+formReceta.fc.value+"\n"+
                       "F. respiratoria (xmin) : "+formReceta.fr.value;
        const consulta = formHojaClinica.consulta.value;
        const descripcion = formReceta.descripcion.value;
        const medicamentos = formReceta.medicamentos.value;

        const res = await fetch("/doctor/historia/create", {
          method: "POST",
          body: JSON.stringify({
            idDoctor,
            idHistoriaClinica,
            fecha,
            area,
            triage,
            consulta,
            descripcion,
            medicamentos,
          }),
          headers: { "Content-Type": "application/json" },
        });
  
        const data = await res.json();
        console.log(data);
        location.assign("/doctor/historia/" + idPaciente);
      }
    </script>
  </body>
  
</html>
