<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Hospital</title>
    <link rel="stylesheet" href="/css/doctor/historia_details.css" />

    <link rel="stylesheet" href="/css/paciente/estilos.css" />
    <link rel="stylesheet" href="/css/cuadro_flotante.css" />
    <link rel="stylesheet" href="/css/cuadro_detalle.css" />
    <link rel="stylesheet" href="/css/cuadro_info.css" />
    <link rel="stylesheet" href="/css/arreglarCuadroPrincipal.css">

  </head>

  <body>
    <%- include('../../partials/header.ejs') %>

    <article id="articulo-2">
      <section class="principal">
        <div class="cuadro_titulo">
            <h2 class="titulo_seccion">
              Historia de <%= paciente.nombreCompleto%> - <%=paciente.dni%>
            </h2>
        </div>
        <a
            class="boton_agregar"
            href="/doctor/historia/create/<%=paciente._id%>"
            ><img src="/imagenes/agregar.png" alt="icono_agregar"></a>
        <div class="cuadro_info">
          <%for(let hoja of hojasClinicas){%>
          <!-- <div class="cita"><= cita.area %></div> -->
          <div class="cuadro_item" id="<%=hoja._id%>">
            <div class="resumen">
              <div class="datos">
                <p><%=hoja.area%></p>
                <p><%=hoja.doctor.nombreCompleto%></p>
                <p><%=hoja.fecha%></p>
              </div>
              <img src="/imagenes/areas/<%=hoja.area.substring(0,3)%>.png" alt="icono_area_medica" />
            </div>
            <img src="/imagenes/ojo.png" alt="icono_ojo">
            <button
              onclick='mostrarHojaClinica(<%-JSON.stringify(hoja)%>)'
              class="boton_mostrar"
            >
              Mostrar
            </button>
          </div>

          <% }%>
        </div>
        <div class="cuadro_detalle">
          
          <div class="tabs">
            <h2>DATOS</h2>
            <h2>RECETA</h2>
            <h2>TRIAGE</h2>
          </div>
          <div class="contenedor ">
            <div class="contenido">
              <p>Fecha :</p> <span id="dato_fecha"></span>
              <p>Doctor :</p> <span id="dato_doctor"></span>
              <p>Area Medica : </p><span id="dato_area"></span>
              <p>Consulta</p>
              <span class="cuadro_texto" id="dato_consulta"></span>
            </div>
            <div class="contenido">
              <p>Medicamentos</p>
              <span class="cuadro_texto" id="dato_medicamentos"></span>
              <p>Descripcion </p>
              <span class="cuadro_texto" id="dato_descripcion"></span>
            </div>
            <div class="contenido">
              <div id="cuadro_triage"></div>
            </div>
          </div>
        </div>
        
      </section>
    </article>

    <%- include('../../partials/aside_doctor.ejs') %>

    <script src="/javascript/cuadro_flotante.js"></script>
    <script src="/javascript/cuadro_detalle.js"></script>
    <script src="/javascript/cuadro_info.js"></script>
  <script>
    <%if(hojasClinicas.length!==0){%> 
      mostrarHojaClinica(<%-JSON.stringify(hojasClinicas[0])%>);
    <%}%>
    async function mostrarHojaClinica(hoja) {
      //     const res = await fetch('/doctor/cita/'+idCita, {
      //       method: 'GET'
      //     });
      //     const data = await res.json();
      const dato_fecha = document.getElementById('dato_fecha');
      const dato_doctor = document.getElementById('dato_doctor');
      const dato_area = document.getElementById('dato_area');
      const dato_consulta = document.getElementById('dato_consulta');
      const dato_medicamentos = document.getElementById('dato_medicamentos');
      const dato_descripcion = document.getElementById('dato_descripcion');
      const cuadro_triage = document.getElementById('cuadro_triage');
      
      dato_fecha.innerHTML = hoja.fecha;
      dato_doctor.innerHTML = hoja.doctor.nombreCompleto;
      dato_area.innerHTML = hoja.area;
      dato_consulta.innerHTML = hoja.consulta;
      dato_medicamentos.innerHTML = hoja.receta.medicamentos;
      dato_descripcion.innerHTML = hoja.receta.descripcion;
      cuadro_triage.innerHTML = hoja.triage;
    }
  </script>
  </body>
  
</html>
