<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <base href="Hospital" />
    <title>Hospital</title>
    <link rel="stylesheet" href="/css/paciente/estilos.css" />
    <link rel="stylesheet" href="/css/cuadro_flotante.css" />
    <link rel="stylesheet" href="/css/arreglarCuadroPrincipal.css" />
  </head>

  <body>
    <%- include('../partials/header.ejs') %>
    <article>
      <section>
        <div id="informacion">
          <div>
            <img src="Imagenes/Informacion personal.png" />
          </div>

          <div class="informacionpersonalgeneral">
            <div class="c">
              <p>Nombre:</p>
              <span><%= user.nombre %></span>
            </div>
            <div class="c">
              <p>Apellido:</p>
              <span><%= user.apellido %></span>
            </div>
            <div class="c">
              <p>Direccion:</p>
              <span> <%= user.direccion %></span>
            </div>
            <div class="c">
              <p>Celular:</p>
              <span><%= user.telefono %></span>
            </div>
            <div class="c">
              <p>Estado:</p>
              <br />
              <span><%=user.estado%></span>
            </div>
          </div>
        </div>
        <div class="publicidad"></div>
      </section>
    </article>

    <%- include('../partials/aside_paciente.ejs') %>
    <script src="/javascript/cuadro_flotante.js"></script>
  </body>
</html>
